.cars{
    text-align: center;
}
.
.cars{
    font-family: "Bodoni MT";
}
.Best_saloon_cars{
    text-align: left;
    .h2{
        text-align: justify;
        font-family: Arial;
            }
}
.h2{
    text-align: center;
}

